.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

h2 {
font-size: 36px;
font-family: 'Raleway', sans-serif;
letter-spacing:0.05em;
margin: 50px auto;
}

h2::after {
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background: #82692D;
  margin: 10px auto;
}

.header {
  width: 100%;
  background: rgb(232, 232, 232);
  border-bottom: 4px solid rgb(211, 206, 170);
}

.header .lista {
  display: flex;  
  align-items: center;
  margin: 30px auto;
}

.header .lista li a {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  margin: 0 10px;
}

.header .lista li a:hover {
  background: #506084;
  color: #fff; 
  border-radius: 5px;
}

.header .logo {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header .logo img {
  height: 250px;
  border: 1px solid black;
}

.ativo {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {    
    width: 200px;
  }
  
  to {    
    width: 500px;  
  }
}


.escritorio {
  background-image: url(../imgs/Escritorio/escritorio1.png);  
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 4px solid rgb(211, 206, 170);
}

.interna1 {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 380px;
  left: 520px;
  background: rgba(211, 206, 170, 0.6);
  
}

.interna2 {
  border: 3px solid #82692D;
  background: rgba(211, 206, 170, 0.6);
  width: 400px;
  height: 200px;
  position: relative;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.interna2 p {
  color: #605537;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;  
  letter-spacing: 1px
}

.profissionais {
  width: 100%;
  height: 100vh;
}

.profissionais h2 {
  text-align: center;
  margin: 0 ;
  padding: 50px;
}

.profissionais ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.profissionais ul li img {
  width: 220px;
  height: 220px;
  padding: 20px;
  border: 10px solid #000;
}

.profissionais ul li {
  display: flex;
  flex-direction: column;
}

.profissionais ul li h3 {
  font-size: 24px;
  margin: 20px 0;
}

.profissionais .lista {
  margin-bottom: 150px;
}

.anima {
  margin: 50px;
}

.areas {
  background-image: url(../imgs/Escritorio/escritorio4.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  border-bottom: 4px solid rgb(211, 206, 170);
}

.areas .container {
  justify-content: space-around;
}

.areas h2 {
  text-align: center;
  margin: 0 ;
  padding: 50px;
  color: #fff;
}

.areas ul li p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  color: #29210f;
  padding: 20px;
  color: #fff;  
  margin: 10px;

}


.areas.anima ul p {   
  transition: 1s; 
  border-bottom: 1px solid white;
  font-size: 24px;
}


.contato {
  height: 100vh;
}

form input {
  width: 350px;
  padding: 5px;
  margin-bottom: 25px;
}

form .container {
  flex-direction: column;
}

form textarea {
 width: 400px;
 height: 100px;
}

form button {
  margin: 20px 0;
  width: 100px;
  font-size: 19px;
  font-family: 'Barlow', sans-serif;
  color: #29210f;
  padding: 5px
}


.footer {
    width: 100%;
    background: #000;
    color: #fff;
}

.footer h2 {
  flex-direction: column;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.05em;
  padding: 10px 0;
}

.contato_dados {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.contato_dados p {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 0;
  font-family: sans-serif;
}

.contato_dados ul {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.contato_dados ul img {
  width: 50px;
  height: 50px;
  margin-right: 40px;
  padding: 10px 0;
}


.back-to-top {
  justify-content: center;
  align-items: center;
  width: 60px;  
  position: fixed; 
  right: 0;
  bottom: 0;
  background: #506084;   
  border-radius: 5px;
  opacity: 0.7;
}

.back-to-top a { 
  color: #ECECEC; 
  text-transform: uppercase;
  padding: 10px;
}


.curriculo {
  padding: 5px;
  font-size: 20px;
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 122;
  width: 180px;
  height: 60px;
  background: #506084;
  color: #fff; 
  margin: 10px;  
  border-radius: 5px;
}
 
.curriculo p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
  text-align: center;
  
}

.curriculo a {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ECECEC;
  padding: 10px;
}

.curriculo a:hover {
   color: #000;
}
